<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyTrips</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>MyTrips</h1>
  <p>A trip application tracker for collecting and planning your past and future trips.</p>

  <a href="/trips/">All Trips</a>

</body>

</html>